:host {
  display: block;
  overflow: auto;
  
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  background: var(--bg-elevated);

  &:focus-within {
    border-color: var(--accent);
  }
}
