:host {
  display: inline-flex;
  inline-size: 1em;
  block-size: 1em;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.icon-glyph {
  display: inline-flex;
  inline-size: 100%;
  block-size: 100%;
}
